<<<<<<< HEAD
@charset "EUC-KR";

=======
>>>>>>> 3d77538 (ch3 init)
div.ingredient-group:nth-child(odd) {
	float: left;
	padding-right: 20px;
}

div.ingredient-group:nth-child(even) {
<<<<<<< HEAD
	float: left;
=======
    float: left;
>>>>>>> 3d77538 (ch3 init)
	padding-right: 0;
}

div.ingredient-group {
	width: 50%;
}

.grid:after {
<<<<<<< HEAD
	content: "";
	display: table;
	clear: both;
}

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
=======
  content: "";
  display: table;
  clear: both;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
>>>>>>> 3d77538 (ch3 init)
}

span.validationError {
	color: red;
}