<!doctype html>

<html lang="ko">

<head>

    <meta charset="UTF-8" />

    <title>BC-VCN API 테스트 목록</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <meta http-equiv="Expires" content="-1">

    <meta http-equiv="Pragma" content="no-cache">

    <meta http-equiv="Cache-Control" content="No-Cache">

    <link rel="shortcut icon" href="#">

    <script src="https://isrnd.bccard.com:44103/js/jquery.min.js"></script>

    <script src="https://isrnd.bccard.com:44103/js/index.js"></script>

    <link rel="stylesheet" th:href="@{/styles.css}" />

</head>

<body>

<div id="wrap">

    <h1><span>BC-VCN API 테스트 목록</span></h1>

    <div class="section" id="">

        <table class="tbl-guide sorttable">

            <thead>

            <tr>

                <th scope="col"><span>대분류</span></th>

                <th scope="col"><span>영역</span></th>

                <th scope="col"><span>페이지명</span></th>

                <th scope="col"><span>ID</span></th>

                <th scope="col">기타</th>

            </tr>

            </thead>

            <tbody>

            <tr>

                <td>VISA API</td>

                <td>계정 관리 서비스</td>

                <td class="link"><a href="/_dev/html/onnuri_giftcard01.html" target="_blank">보안 코드 받기</a></td>

                <td class="uid"></td>

                <td></td>

            </tr>

            <tr>

                <td>VISA API</td>

                <td>계정 관리 서비스</td>

                <td class="link"><a href="/_dev/html/onnuri_giftcard01.html" target="_blank">가상 카드 요청</a></td>

                <td class="uid"></td>

                <td></td>

            </tr>

            </tbody>

        </table>

    </div>

    <div class="section" id="payboocGuide">

        <h3>테스트 주의사항</h3>

        <div class="guide" style="padding-top:20px;">

            <h4>BC-VCN 테스트</h4>

            <div class="item">

                <p class="dot">VISA API 테스트</p>

            </div>

        </div>

    </div>

    <div class="view">

        <iframe src="" id="preview" name="preview" frameborder="0"></iframe>

    </div>

</div>

</body>

</html>